<li class="list-group-item bg-info">
    <h4 class="list-group-item-heading fw-bold">Le tue board condivise</h4>
</li>

{% if boards|length > 0 %}
    {% for board in boards %}
        {% with name=board.name favorite=board.favorite category=board.category %}
            <li class="list-group-item fs-5 d-flex justify-content-between align-items-start">
                {% with json_id=name|add:"_json" %}
                    {{ board|json_script:json_id }}
                {% endwith %}
                <a class="me-auto" href="{% url 'get-other-board' name=name owner=board.owner %}">{{ name }}</a>
            </li>
        {% endwith %}
    {% endfor %}

{% else %}
    <li class="list-group-item align-content-center" style="color:gray;">Nessuna board trovata...</li>
{% endif %}