<li class="list-group-item bg-info">
    <h4 class="list-group-item-heading fw-bold">Le tue board</h4>
</li>

{% if boards|length > 0 %}
    {% for board in boards %}
        {% with name=board.name favorite=board.favorite category=board.category %}
            <li class="list-group-item fs-5 d-flex justify-content-between align-items-start">
                {% with json_id=name|add:"_json" %}
                    {{ board|json_script:json_id }}
                {% endwith %}
                <a class="me-auto" href="{% url 'get-board' name=name %}">{{ name }}</a>
                {% if favorite %}
                    <i class="fa fa-star my-auto"></i>
                {% endif %}
                {% if category %}
                    <span class="simil-icon my-auto fs-6 bg-primary p-1 rounded">{{ category }}</span>
                {% endif %}
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" data-popper-placement="bottom-start">
                        <a class="dropdown-item" href="#" data-bs-target="#editBoardModal" data-bs-toggle="modal"
                           data-bs-board="{{ name }}"><i
                                class="fa fa-pencil fa-fw"></i>Modifica</a>
                        <a class="dropdown-item" href="#" data-bs-target="#deleteModal" data-bs-toggle="modal"
                           data-bs-board="{{ name }}"><i
                                class="fa fa-trash-o fa-fw"></i>Elimina</a>
                    </div>
                </div>
            </li>
        {% endwith %}
    {% endfor %}

{% else %}
    <li class="list-group-item align-content-center" style="color:gray;">Nessuna board trovata...</li>
{% endif %}