<li class="list-group-item bg-primary">
    <h4 class="list-group-item-heading fw-bold">Le tue board</h4>
</li>

{% if boards|length > 0 %}
    {% for board in boards %}
        <li class="list-group-item fs-5"><a href="{% url 'get-board' name=board %}">{{ board }}</a>
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" data-popper-placement="bottom-start"
                     style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 39px);">
                    <a class="dropdown-item" href="#" data-bs-target="#modifyModal" data-bs-toggle="modal"><i class="fa fa-pencil fa-fw"></i>Modifica</a>
                    <a class="dropdown-item" href="#" data-bs-target="#deleteModal" data-bs-toggle="modal"><i class="fa fa-trash-o fa-fw"></i>Elimina</a>
                </div>
            </div>
        </li>

    {% endfor %}

{% else %}
    <li class="list-group-item align-content-center" style="color:gray;">Nessuna board trovata...</li>
{% endif %}