<li class="list-group-item bg-info">
    <h4 class="list-group-item-heading fw-bold">Le tue board condivise</h4>
</li>

{% if boards|length > 0 %}
    {% for board in boards %}
        <li class="list-group-item fs-5 d-flex justify-content-between align-items-start">
            {% with json_id=board.name|add:"_json" %}
                {{ board|json_script:json_id }}
            {% endwith %}
            <a class="me-auto" href="{% url 'get-other-board' name=board.name owner=board.owner %}">{{ board.name }}</a>
            {% if board.permission == "EDIT" %}
                <i class="bi bi-pencil-fill my-auto"></i>
            {% else %}
                <i class="bi bi-eye-fill my-auto"></i>
            {% endif %}
        </li>
    {% endfor %}

{% else %}
    <li class="list-group-item align-content-center" style="color:gray;">Nessuna board trovata...</li>
{% endif %}