{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container justify-content-center">
        <div class="row justify-content-center fs-1" style="margin: 20px;">
            <div class="col justify-content-center align-items-center d-flex" style="width: 100%">
                <img src="/media/{{ propic }}" alt="profile_pic"
                     class="mx-3 border border-2 border-light rounded-circle" width="86" height="86"
                     style="padding: 4px;">
                Ciao, {{ user.username }}!
            </div>
        </div>
        <div class="row my-2">
            <div class="col dropdown">
                <button class="btn bg-success btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="fa fa-plus fs-5"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#" data-bs-target="#newBoardModal" data-bs-toggle="modal">Aggiungi
                        board</a></li>
                    <li><a class="dropdown-item" href="#" data-bs-target="#newCatModal" data-bs-toggle="modal">Aggiungi
                        categoria</a></li>
                </ul>
            </div>

            <div class="col dropdown">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" onclick="getValue()">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Categorie</label>
                </div>

                {% comment %}<fieldset>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked="false">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Categorie</label>
                    </div>
                </fieldset>{% endcomment %}
            </div>
        </div>


        <ul class="row list-group" id='board-list'>
            {% include 'profile/profile-boards-list.html' with boards=boards %}
        </ul>
        <ul class="row list-group" id='category-list' style="display:none">
            {% include 'profile/profile-category-list.html' with category=categories %}
        </ul>

    </div>

    <!-- Modal -->
    {% csrf_token %}
    {% include "modals/board modals/new_board_modal.html" with categories=categories %}
    {% include "modals/new_category_modal.html" %}
    {% include "modals/board modals/edit_board_modal.html" %}
    {% include "modals/board modals/delete_board_modal.html" %}

    <script src="{% static 'js/modals/switch_category.js' %}"></script>

{% endblock %}



