{% load static %}

{% block content %}
    <div class="dropdown nav-item">
        <a class="btn btn-secondary dropdown-toggle" role="button" href="#" id="notifications-dropdown"
           data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-bell-o" aria-hidden="true"></i> {{ notifications.count }}</a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notifications-dropdown">
            {% for notification in notifications %}
                {% if notification.board %}
                    <li><a class="dropdown-item" href="#">@{{ notification.from_user }} ti ha taggato nella board @{{ notification.board }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}