{% extends 'index.html' %}
{% load static %}

{% block extra-style %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'styles/board-style.scss' %}">
    <style>
        body {
            background: {{ board_background }};
        }
    </style>
{% endblock %}

{% block settings-nav %}
    <li><a class="dropdown-item" href="#">Modifica sfondo</a></li>
    <li><a class="dropdown-item" href="#">Rinomina board</a></li>
{% endblock %}

{% block authenticated_functions %}
    <div class="nav-item">
        <button class="btn btn-info" type="button" id="add_user"
                data-bs-toggle="modal" data-bs-target="#shareModal" aria-expanded="false">
            <i class="fa fa-user-plus" aria-hidden="true"></i> Condividi
        </button>
    </div>
{% endblock %}

{% block content %}
    <div class="row my-3 mx-auto">
        <button class="col-auto mt-auto mb-0 ms-3 btn bg-info disabled" type="button" id="editCardButton"
                data-bs-toggle="modal" data-bs-target="#editCardModal" aria-expanded="false">
            <span class="fa fa-edit fs-5 ms-2"></span>
        </button>

        <div class="col text-center">
            <h2 class="fw-bold">{{ board_name }}</h2>
            {% if board_description %}
                <p>{{ board_description }}</p>
            {% endif %}
        </div>
    </div>
    <div class="row m-auto h-100 flex-nowrap overflow-auto" id="main-row">
        {% include 'board/board_lists.html' with lists=board_lists %}
    </div>

    {% include "modals/new_card_modal.html" %}
    {% include "modals/view_card_modal.html" %}
    {% include "modals/new_list_modal.html" with board=board_name %}
    {% include "modals/share_modal.html" %}
    {% include  "modals/edit_cards_modal.html" %}
{% endblock %}

{% block extra-scripts %}
    <script>
        const currentBoard = "{{ board_name }}"
        console.log(currentBoard)
        const del_board_things_url = "{% url 'delete-board-content' %}"
    </script>
{% endblock %}
