{% extends 'index.html' %}
{% load static %}

{% block extra-style %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'styles/board-style.scss' %}">
    <style>
        body {
            background: {{ board_background }};
        }
    </style>
{% endblock %}

{% block settings-nav %}
    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#chooseColorModal"
           aria-expanded="false">Modifica sfondo</a></li>
    <li><a class="dropdown-item" href="#">Rinomina board</a></li>
{% endblock %}

{% block authenticated_functions %}
    {% if is_owner %}
        <div class="nav-item">
            <button class="btn btn-info" type="button" id="add_user"
                    data-bs-toggle="modal" data-bs-target="#shareModal" aria-expanded="false">
                <i class="fa fa-user-plus" aria-hidden="true"></i> Condividi
            </button>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row my-3 mx-auto">
        {% if can_edit %}
            <button class="col-auto mt-auto mb-0 ms-3 btn bg-info disabled" type="button" id="editCardButton"
                    data-bs-toggle="modal" data-bs-target="#editCardModal" aria-expanded="false">
                <span class="fa fa-edit fs-5 ms-2"></span>
            </button>
        {% endif %}

        <div class="col text-center">
            <h2 class="fw-bold">{{ board_name }}</h2>
            {% if board_description %}
                <p>{{ board_description }}</p>
            {% endif %}
        </div>
    </div>
    <div class="row m-auto h-100 flex-nowrap overflow-auto" id="main-row">
        {% include 'board/board_lists.html' with lists=board_lists can_edit=can_edit %}
    </div>

    {% include "modals/view_card_modal.html" %}
    {% if can_edit %}
        {% include "modals/board modals/choose_color_modal.html" %}
        {% include "modals/edit_cards_modal.html" with board_lists=board_lists%}
        {% include "modals/new_card_modal.html" with members=board_members %}
        {% include "modals/new_list_modal.html" with board=board_name %}
        {% include "modals/board modals/delete_list_modal.html" %}
    {% endif %}
    {% if is_owner %}
        {% include "modals/share_modal.html" with members=board_members %}
    {% endif %}
{% endblock %}

{% block extra-scripts %}
    <script>
        const currentBoard = "{{ board_name }}"
        const share_link_url = "{% url 'join-board' name=board_name owner=user.username %}"
        const main_row_id = "main-row"
        {% if can_edit %}
            const del_board_things_url = "{% url 'delete-board-content' %}"
        {% endif %}
    </script>
{% endblock %}
