{% extends 'index.html' %}
{% load static %}

{% block extra-style %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'styles/board-style.scss' %}">
    <style>
        body {
            background: {{ board_background }};
        }
    </style>
{% endblock %}

{% block settings-nav %}
    <li><a class="dropdown-item" href="#">Modifica sfondo</a></li>
    <li><a class="dropdown-item" href="#">Rinomina board</a></li>

{% endblock %}

{% block authenticated_functions %}
    <div class="nav-item">
        <button class="btn btn-info" type="button" id="add_user"
                data-bs-toggle="modal" data-bs-target="#shareModal" aria-expanded="false">
            <i class="fa fa-user-plus" aria-hidden="true"></i> Condividi
        </button>
    </div>
{% endblock %}

{% block content %}
    <div class="row mt-3">
        <h2 class="fw-bold text-center">{{ board_name }}</h2>
        {% if board_description %}
            <p class="text-center ">{{ board_description }}</p>
        {% endif %}
    </div>
    <div class="row m-auto my-1 dropup">
        <button class="col-auto btn bg-info dropdown-toggle" type="button"
                data-bs-toggle="dropdown" aria-expanded="false">
            <span class="fa fa-edit fs-5"></span>
        </button>
        <ul class="dropdown-menu col-auto" aria-labelledby="dropdownMenuButton1">
            <li>
                <button class="dropdown-item disabled" id="deleteCardsBtn">Elimina</button>
            </li>
            <li>
                <button class="dropdown-item disabled" id="moveCardsBtn">Sposta</button>
            </li>
        </ul>
    </div>
    <div class="row m-auto h-100 flex-nowrap overflow-auto" id="main-row">
        {% for list in board_lists %}
            {% include 'board/list.html' with id=list.list_id title=list.list_title cards=list.list_cards %}
        {% endfor %}

        <div class="col-auto" id="new-list-button">
            <div class="cards-list card me-auto mt-3">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                        data-bs-target="#newListModal">
                    <span class="fa fa-plus pe-2"></span>Aggiungi una lista
                </button>
            </div>
        </div>
    </div>

    {% include "modals/new_card_modal.html" %}
    {% include "modals/view_card_modal.html" %}
    {% include "modals/new_list_modal.html" with board=board_name %}
    {% include "modals/share_modal.html" %}
{% endblock %}

{% block extra-scripts %}
    <script src="{% static 'js/board.js' %}"></script>
{% endblock %}
