<div class="card mx-auto text-white mt-3" style="width: 300px" id="{{ data.card_unique_id }}">
    {{ data|json_script:data.card_json_id }}
    <div class="card-header" style="background: rgba(0,0,0,0)">
        <span class="m-auto" data-bs-toggle="modal"
              data-bs-target="#cardModal" data-bs-card-json="{{ data.card_json_id }}">{{ data.card_title }}</span>
        <input class="form-check-input card-checkbox show-on-hover float-end" type="checkbox" value=""
               onclick="selectCard('{{ data.card_unique_id|escapejs }}')">
    </div>
    <div class="card-body" data-bs-toggle="modal"
         data-bs-target="#cardModal" data-bs-card-json="{{ data.card_json_id }}">
        {% if data.card_descr %}
            <label><i class="fa fa-align-left"></i></label>
        {% endif %}
        {% if data.card_date %}
            <script>
                console.log("{{ data.card_date }}")
            </script>
            <label><i class="fas fa-calendar-day"></i></label>
        {% endif %}
        {% if data.card_img %}
            <label><i class="far fa-image"></i></label>
        {% endif %}
        {% if data.card_checks %}
            <label><i class="fas fa-tasks"></i></label>
        {% endif %}
        {% if data.card_members %}
            <label><i class="fas fa-tasks"></i></label>
        {% endif %}
    </div>
</div>