<div class="col-auto mb-auto">
    <div class="card-header">
        <span class="fw-bold fs-4 text-center">{{ title }}</span>
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                data-bs-target="#deleteListModal" data-bs-list='{{ list.list_title }}'><i class="bi bi-trash my-auto"></i></button>

    </div>
    <div id='{{ id }}' class="cards-list rounded-bottom overflow-auto pb-3 mb-3">
        {% for card in cards %}
            {% include 'board/card.html' with data=card %}
        {% endfor %}
    </div>
    <div class="card me-auto">
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                data-bs-target="#newCardModal" data-bs-list='{{ id }}'>
            <span class="fa fa-plus pe-2"></span>Aggiungi una scheda
        </button>
    </div>
</div>