{% extends 'index.html' %}
{% load static %}

{% block content %}
      <h3>Login</h3>
    <div class="form-group">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Indirizzo email</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <button type="button" class="btn btn-light">Invia</button>
        <button type="button" class="btn btn-link" > <a href= "register/">Non sei registrato? Crea un account</a></button>
    </div>
{% endblock %}
