{% extends 'index.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="container">
        <h3 class="row my-3">{{ title }}</h3>
        <div class="row my-4">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-dark" value="Conferma">
            </form>
        </div>
        {% block extra-auth %}
        {% endblock %}
    </div>
{% endblock %}
