.cards-list {
    width: 350px;
    max-height: 620px;
    background: #333333;
}

.card-header {
    min-height: 40px;
}

.col-auto {
    margin-bottom: auto;
}

$card-bg: #3498DB;
$card-hover-bg: #105e90;

.cards-list > .card {
    background: $card-bg;

    &:hover {
        background: $card-hover-bg;
    }
}

.show-on-hover {
    visibility: hidden;

    .card:hover &, &:checked {
        visibility: visible;
        box-shadow: 0 0 8px $card-bg;
    }
}