.cards-list {
    width: 350px;
    max-height: 620px;
    background: #333333;
}

.card-header {
    min-height: 40px;
}

.col-auto {
    margin-bottom: auto;
}

.cards-list > .card {
    background: #3498DB;

    &:hover {
        background: #105e90;
    }
}

.show-on-hover {
    display: none;

    .card:hover &, &:checked {
        display: inline;
    }
}