/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333333;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #67a3ff;
  border-radius: 10px;

  /* Handle on hover */
  &:hover {
    background: #366cba;
  }
}

.nav-item {
  margin-left: 10px;
}

.fa {
  margin-right: 8px;
}

