$scrollbar-radius: 10px;
$scrollbar-thickness: 5px;

//Scrollbar
::-webkit-scrollbar {
    width: $scrollbar-thickness;
    height: $scrollbar-thickness;

    &-track {
        background: #333333;
        border-radius: $scrollbar-radius;
    }

    &-thumb {
        background: #67a3ff;
        border-radius: $scrollbar-radius;

        &:hover {
            background: #366cba;
        }
    }
}

.nav-item {
    margin-left: 10px;
}

.fa {
    margin-right: 8px;
}

.navbar-btn {
    box-shadow: 0 0 4px;

    &:hover, &:focus {
        box-shadow: 0 0 8px;
    }
}

