<!-- Modal -->
{% block modal_wrapper %}
    <div class="modal fade" id="{{ modalID }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Aggiungi {{ object }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body container">
                    {% block modal_body %}
                    {% endblock %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-danger btn-secondary" data-bs-dismiss="modal">Annulla</button>
                    <button type="button" class="btn bg-success btn-primary" onclick="{{ okFunction }}">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function closeModal(id) {
            let mod_el = document.getElementById(id)
            let mod = bootstrap.Modal.getInstance(mod_el)
            mod.hide()
        }
    </script>

    {% block modal_script %}
    {% endblock %}
{% endblock %}

