{% load static %}
<!-- Modal -->
{% block modal_wrapper %}
    <link type="text/css" rel="stylesheet" href="{% static 'styles/modal_style.css' %}"/>
    <div class="modal fade" id="{{ modalID }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ object }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body container">
                    {% block modal_body %}
                    {% endblock %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-danger btn-secondary" data-bs-dismiss="modal">Annulla</button>
                    <button type="button" class="btn bg-success btn-primary" onclick="{{ okFunction }}">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/modals/modals_main.js' %}"></script>

    {% block modal_script %}
    {% endblock %}
{% endblock %}

