{% extends "modals/base_modal.html" %}
{% load static %}


{% block modal_wrapper %}
    {% with modalID="cardModal" object="Aggiungi una scheda" okFunction="ok_newCard()" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block modal_body %}
    <form class="row mx-3">
        <div class="mb-3">
            <label for="cardName" class="form-label">Nome</label>
            <input type="text" class="form-control" maxlength="20" id="cardName" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="cardDescription" class="form-label">Descrizione</label>
            <textarea class="form-control" id="cardDescription" rows="3"
                      placeholder="Aggiungi una descrizione più dettagliata..."></textarea>
        </div>
    </form>
{% endblock %}

{% block modal_script %}
    <script src="{% static 'js/modals/new_card.js' %}"></script>
{% endblock %}