{% extends "modals/base_modal.html" %}
{% load static %}


{% block modal_wrapper %}
    {% with modalID="cardModal" object="Aggiungi una scheda" okFunction="ok_newCard()" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block modal_body %}
    <form class="row mx-3">
        <div class="mb-3">
            <label for="cardName" class="form-label">Titolo</label>
            <input type="text" style="color: white" class="form-control" id="cardName" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="cardDescription" class="form-label">Descrizione</label>
            <textarea class="form-control" id="cardDescription" rows="3"
                      placeholder="Aggiungi una descrizione più dettagliata..."></textarea>
        </div>
        <div class="mb-3">
            <label for="imageButton" class="form-label">Immagine</label>
            <input class="form-control" type="file" id="imageButton">
        </div>
        <div class="mb-3">
            <label for="date1">Data</label>
            <input class="form-control" value="30/10/1999" id="date1" type="datetime-local"
                   placeholder="Inserisci la data in formato gg/mm/aaaa">
        </div>
    </form>
{% endblock %}

{% block modal_script %}
    <script>
        const new_card_url = '{% url "create-board-content" %}'
    </script>
    <script src="{% static 'js/modals/new_card.js' %}"></script>
{% endblock %}