{% extends "modals/base_modal.html" %}
{% load static %}


{% block modal_wrapper %}
    {% with modalID="editCardModal" object="Modifica scheda" okFunction="ok_editCard()" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block modal_body %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#elimina">Elimina schede</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#sposta">Sposta schede</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active show mt-3 row-auto" id="elimina">
            <div class="mb-3">
                <label for="" class="form-label"></label>
            </div>
        </div>

        <div class="tab-pane fade mt-3 row-auto" id="sposta">
            <div class="mb-3">
                <label for="" class="form-label">Scegli la lista di destinazione</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    {% for list in board_lists %}
                            <option>{{ list.list_title }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

{% endblock %}

{% block modal_script %}
    <script>
        const delete_card_url = "{% url 'delete-board-content' %}"
    </script>
    <script src="{% static 'js/modals/edit_card.js' %}"></script>
{% endblock %}