{% extends "modals/base_modal.html" %}
{% load static %}


{% block modal_wrapper %}
    {% with modalID="editCardModal" object="Modifica scheda" okFunction="ok_shareModal()" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block modal_body %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#elimina">Elimina schede</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#sposta">Sposta schede</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active show mt-3 row-auto" id="elimina">
            <div class="mb-3">
                <label for="" class="form-label"></label>
            </div>
        </div>

        <div class="tab-pane fade mt-3 row-auto" id="sposta">
            <i class="fa fa-link" aria-hidden="true"></i> Invita con link
            <p>
                <small class="text-muted">Chiunque sia dotato di link può unirsi come membro della board</small>
            </p>
            <a href="#" onclick="getURL()">Copia link</a>
        </div>
    </div>

{% endblock %}

{% block modal_script %}
     <script>
        const delete_card_url = "{% url 'delete-board-content' %}"
    </script>
    <script src="{% static 'js/modals/edit_card.js' %}"></script>
{% endblock %}