{% extends "base_modal.html" %}


{% block modal_wrapper %}
    {% with modalID="newCatModal" object="categoria" okFunction="ok_newCategory" %}
        {{ block.super }}
    {% endwith %}
    <script>
        function ok_newCategory() {
            console.log("ANDRE SCEMO")
        }
    </script>
{% endblock %}

{% block modal_body %}
    <form class="row mx-3">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nome</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
    </form>
{% endblock %}

