{% extends "modals/base_modal.html" %}
{% load static %}


{% block modal_wrapper %}
    {% with modalID="newCardModal" object="Aggiungi una scheda" okFunction="ok_newCard()" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block modal_body %}
    <form class="row mx-3">
        <div class="col">
            <div class="mb-3 col-auto">
                <label for="cardName" class="form-label">Titolo</label>
                <input type="text" style="color: white" class="form-control" id="cardName" aria-describedby="emailHelp">
            </div>
            <div class="mb-3 col-auto">
                <label for="cardDescription" class="form-label">Descrizione</label>
                <textarea class="form-control" id="cardDescription" rows="3"
                          placeholder="Aggiungi una descrizione più dettagliata..."></textarea>
            </div>
            <div class="mt-2 mb-3" id="date-picker" style="display:none">
                <label for="date1" class="form-label">Data</label>
                <input class="form-control" value="30/10/1999" id="date1" type="datetime-local"
                       placeholder="Inserisci la data in formato gg/mm/aaaa">
            </div>
            <div class="mt-2 mb-3" id='image-picker' style="display:none">
                <label for="imageButton" class="form-label">Immagine</label>
                <input class="form-control" type="file" id="imageButton">
            </div>
        </div>
        <div class="col-4 gy-5">
            <div class="row">
                <button type="button" class="btn btn-outline-info form-control" onclick="toggleElement('date-picker')">
                    Data
                </button>
            </div>

            <div class="row">
                <button type="button" class="btn btn-outline-info form-control" onclick="toggleElement('image-picker')">
                    Immagine
                </button>
            </div>

            <div class="row">
                <button type="button" id="buttonChecklist"
                        class="btn btn-outline-info form-control" {%comment%}onclick="showChecklist()"{%endcomment%}>
                    Checklist
                </button>
            </div>
        </div>
    </form>
{% endblock %}

{% block modal_script %}
    <script>
        const new_card_url = '{% url "create-board-content" %}'
    </script>
    <script src="{% static 'js/modals/new_card.js' %}"></script>
{% endblock %}