{% extends "modals/base_modal.html" %}
{% load static %}


{% block modal_wrapper %}
    {% with modalID="newListModal" object="Aggiungi una lista" okFunction="ok_newList()" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block modal_body %}
    <form class="row mx-3">
        <div class="mb-3">
            <label for="listTitle" class="form-label">Titolo</label>
            <input type="text" style="color: white" class="form-control" id="listTitle" aria-describedby="emailHelp">
        </div>
    </form>
{% endblock %}

{% block modal_script %}
    <script>
        const targetBoard = "{{ board }}"
        const new_list_url = "{% url 'create-board-content' %}"
    </script>
    <script src="{% static 'js/modals/new_list.js' %}"></script>
{% endblock %}