{% extends "modals/base_modal.html" %}
{% load static %}

{% block modal_wrapper %}
    {% with modalID="newCatModal" object="Aggiungi una categoria" okFunction="ok_newCategory()" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block modal_body %}
    <form class="row mx-3">
        <div class="mb-3">
            <label for="categoryName" class="form-label">Nome</label>
            <input type="text" class="form-control" id="categoryName">
        </div>
    </form>
{% endblock %}

{% block modal_script %}
    <script>
        const new_cat_url = "{% url 'create-category' %}"
    </script>
    <script src="{% static 'js/modals/new_category.js' %}"></script>
{% endblock %}