{% extends "modals/base_modal.html" %}
{% load static %}


{% block modal_wrapper %}
    {% with modalID="cardModal" object="Visualizza scheda" okFunction="ok_viewCard()" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block modal_body %}
    <form class="row mx-3">
        <div class="mb-3">
            <label for="cardModalTItle" class="form-label">Titolo</label>
            <div class="bg-secondary rounded-3 ps-2 py-2" aria-describedby="emailHelp" id="cardModalTItle"></div>
        </div>
        <div class="mb-3">
            <label for="cardModalDescr" class="form-label">Descrizione</label>
            <div class="bg-secondary rounded-3 ps-2 py-2" aria-describedby="emailHelp" id="cardModalDescr">
                <p class="text-muted m-2" id="cardModalDescr">Nessuna descrizione</p>
            </div>
        </div>

    </form>
{% endblock %}

{% block modal_script %}
    <script>
        const edit_card_url = '{% url "edit-board-content" %}'
    </script>
    <script src="{% static 'js/modals/view_card.js' %}"></script>
{% endblock %}