{% extends "modals/base_modal.html" %}
{% load static %}


{% block modal_wrapper %}
    {% with modalID="deleteModal" okFunction="ok_delete()" object="Eliminazione di una board" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}


{% block modal_body %}
    <div class="mb-3">
        <label for="boardName" class="form-label"></label>
    </div>
{% endblock %}

{% block modal_script %}
    <script>
        const delete_board_url = "{% url 'delete-board' %}"
    </script>
    <script src="{% static 'js/modals/board/delete_board.js' %}"></script>
{% endblock %}

