{% extends 'index.html' %}
{% load static %}

{% block extra-style %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/board-style.css' %}">
{% endblock %}

{% block settings-nav %}
    <li class="dropdown-item">
        <a href="#">Sfondo</a></li>
    <li class="dropdown-item">
        <a href="#">Cambia nome</a></li>
    <li class="dropdown-item">
        <a href="#">Gestisci membri</a>
    </li>
{% endblock %}

{% block content %}
    <div class="row my-3">
        <h2 class="fw-bold text-center">{{ board_name }}</h2>
    </div>
    <div class="row mb-5">
        <div class="col-auto">
            <div id="cardsList" class="cards-list overflow-auto">

            </div>
            <!-- Bottone per aggiungere le card -->
            <!-- quel margin-top di 3 porcamiseria dovrebbe essere tolto quando non c'è nulla della lista ma vabbè-->
            <div class="card mt-3 text-white me-auto">
                <button type="button" class="btn btn-light" data-bs-toggle="modal"
                        data-bs-target="#cardModal" data-bs-list="cardsList">
                    <span class="fa fa-plus pe-2"></span>Aggiungi una scheda
                </button>
            </div>
        </div>

        <div class="col-auto">
            <button class="btn mt-3 btn-light cards-list">
                <span class="fa fa-plus pe-2"></span>Aggiungi una lista
            </button>
        </div>
    </div>
    {% include "modals/card_modal.html" %}
    <template id="cardTemplate">
        <div class="card mx-auto text-white bg-primary mb-3" style="width: 300px">
            <div class="card-header"></div>
            <div class="card-body"></div>
        </div>
    </template>
{% endblock %}

