{% extends 'index.html' %}
{% load static %}

{% block extra-nav %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
           aria-haspopup="true" aria-expanded="false">Impostazioni</a>
        <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" href="#">Sfondo</a>
            <a class="dropdown-item" href="#">Cambia nome</a>
            <a class="dropdown-item" href="#">Gestisci membri</a>
        </div>
    </li>
{% endblock %}

{% block content %}
    <div>
        <figure class="text-center">
            <h2>{{ board_name }}</h2>
        </figure>
        <!-- Bottone per aggiungere le card -->
        {% comment %} <button type="button" class="btn btn-light">Aggiungi scheda</button>
        <button type="button" class="btn btn-light">Aggiungi lista</button>{% endcomment %}

        <!-- Inserimento delle card -->
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Scheda #1</div>
            <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
            <button class="btn btn-light">+ Aggiungi un'altra scheda</button>
        </div>
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <button class="btn btn-light">+ Aggiungi una lista</button>
        </div>
        {% comment %}

        </div>
        <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Secondary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
        <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Success card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
        <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Danger card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
        <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Warning card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
        <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Info card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Light card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
        <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Dark card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>{% endcomment %}

    </div>
{% endblock %}