{% extends 'index.html' %}
{% load static %}

{% block content %}
    <figure class="text-center">
        <blockquote class="blockquote">
            <p class="mb-0">Ollert aiuta i gruppi a far avanzare il lavoro.</p>
            <br>
            <p class="mb-0">Collabora, gestisci progetti e raggiungi nuovi picchi di produttività. </p>
            <p class="mb-0">Dai grattacieli all’ufficio in casa, il modo in cui il tuo gruppo lavora è unico: raggiungi
                i risultati
                con Ollert.</p>
            <br>
        </blockquote>
    </figure>
{% endblock %}