{% extends 'index.html' %}
{% load static %}

{% block extra-style %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'styles/homepage-style.scss' %}">
{% endblock %}

{% block content %}
    <div class="text-start">
        <h1 class="my-5">Ollert aiuta i gruppi a gestire i propri progetti.</h1>
        <div class="">
            <h4>Collabora, gestisci progetti e raggiungi nuovi picchi di produttività.</h4>
            <h4> Dai grattacieli all’ufficio in casa, il modo in cui il tuo gruppo lavora è unico: raggiungi
                i risultati con Ollert.</h4>
        </div>
    </div>
    <div class="text-center">
        <p class="mb-0 mt-5">Un progetto a cura di Andrea Terenziani e Serena Passini</p>
    </div>
{% endblock %}

