{% load custom_tags %}
{% load compress %}
{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ollert</title>
    <link rel="icon" type="image/ico" href="{% static 'icons/favicon.ico' %}">

    <link href="https://bootswatch.com/5/darkly/bootstrap.min.css" rel="stylesheet" type="text/css">

    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'styles/main.scss' %}">
        {% if not user.is_authenticated %}
            <link rel="stylesheet" type="text/x-scss" href="{% static 'styles/homepage-style.scss' %}">
        {% endif %}
        {% block extra-style %}
        {% endblock %}
    {% endcompress %}

    <script src="https://kit.fontawesome.com/6a5ea18bdb.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
    <a class="navbar-brand me-auto" href="/">
        <strong>
            {% if user.is_authenticated %}
                {{ user }}
            {% else %}
                Ollert
            {% endif %}
        </strong>
    </a>

    {% if user.is_authenticated %}
        <!-- tasto per le notifiche -->
        {% show_notifications %}

        <div class="dropdown nav-item">
            <!-- tasto per le impostazioni -->
            <a class="btn btn-secondary dropdown-toggle navbar-btn" href="#" role="button" id="settings-dropdown"
               data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-cog" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="settings-dropdown">
                {% block settings-nav %}
                    <li><a class="dropdown-item" href="{% url 'edit-password' %}">Cambia password</a></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-sign-out-alt"></i>Logout</a>
                    </li>
                {% endblock %}
            </ul>
        </div>

        <!-- altre cose per utenti autenticati (e.g. condivisione board) -->
        {% block authenticated_functions %}
        {% endblock %}
    {% else %}
        <a class="btn btn-secondary nav-item navbar-btn" href="{% url 'login' %}" role="button">Login</a>
        <a class="btn btn-secondary nav-item navbar-btn" href="{% url 'register' %}" role="button">Registrati</a>
    {% endif %}
</nav>


<body>
{% include 'messages.html' %}

<div class="container-fluid" id="mainContent" style="">
    {% block content %}
    {% endblock %}
</div>
</body>


{% block extra-scripts %}
{% endblock %}

</html>