{% block content %}
    <div class="dropdown nav-item">
        <a class="btn btn-secondary dropdown-toggle navbar-btn" role="button" href="#" id="notifications-dropdown"
           data-bs-toggle="dropdown" aria-expanded="false">
            {% if notifications|length > 0 %}
                <i class="fa fa-bell" aria-hidden="true"></i> {{ notifications.count }}
            {% else %}
                <i class="fa fa-bell-o" aria-hidden="true"></i>
            {% endif %}
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notifications-dropdown">
            {% if notifications|length > 0 %}
                {% for notification in notifications %}
                    {% if notification.board %}
                        <li><a class="dropdown-item"
                               href="{% url 'board-notification' notification.pk notification.board.name %}">
                            <b>@{{ notification.from_user }}</b> ti ha
                            {% if notification.notif_type == 0 %}
                                aggiunto nella
                            {% elif notification.notif_type == 1 %}
                                rimosso dalla
                            {% endif %}
                            board <b>{{ notification.board.name }}</b>
                        </a></li>
                    {% elif notification.card %}
                        <li><a class="dropdown-item"
                               href="{% url 'card-notification' notification.pk notification.card.id %}">
                            <b>@{{ notification.from_user }}</b> ti ha
                            {% if notification.notif_type == 0 %}
                                assegnato alla
                            {% elif notification.notif_type == 1 %}
                                rimosso dalla
                            {% endif %}
                            card <b>{{ notification.card.title }}</b> nella board <b>{{ notification.board.name }}</b>
                        </a></li>
                    {% endif %}
                {% endfor %}
            {% else %}
                <li class="dropdown-item disabled">Nessuna notifica da leggere</li>
            {% endif %}
        </ul>
    </div>
{% endblock %}